@use "sass:math";
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Ubuntu:wght@300;400;500;700&display=swap');

$dark-blue: #05386b;
$dark-green: #379683;
$green: #5cdb95;
$bright-green: #8ee4af;
$bright-beige: #edf5e1;
$rainbow: linear-gradient(to right, red, orange, yellow, green, cyan, blue, darkViolet, magenta, red);

html {
    font-size: 16px;
}

body {
    background-color: $green;
    font-family: 'Ubuntu', sans-serif;
}

@mixin font-size($size) {
    @if ($size > 6) {
        font-size: $size + math.div($size, 3) + vw;
    } @else {
        font-size: $size + vw;
    }
}

header {
    width: 90%;
    height: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: $dark-blue;

    & > * {
        margin: 2.5vw 0 2.5vw 0;
    }

    #title-illustration {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50vw;
        height: 20vw;
        background: url("src/background-picture.png") no-repeat;
        background-size: 25vw;
        background-position: center;
    }

    #title {
        font-family: 'Fredoka One', cursive;
        @include font-size(6);
        color: $bright-beige;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: .35vw;
        margin: auto;
        text-align: center;
        white-space: nowrap;

        #o, #u, #a, #i, #z, #e, #u2, #r {
            &:hover {
                -webkit-text-fill-color: initial;
                -webkit-text-stroke: 0px;
            }
        }
    }

    hr {
        border: .2vmax dashed $dark-green;
        width: 80%;
    }

    #slogan {
        font-weight: 500;
        @include font-size(2);
    }

    #city-name {
        width: 60%;
        height: 3vw;
        font-size: 2.5vw;
        text-align: center;
        border: none;
        border-radius: 2vw 1vw;
        padding: 1em;
        outline: none;
        background-color: $bright-green;
        color: $dark-blue;

        &:focus {
            border: .3vmax dashed $dark-blue;
            outline: none;
        }
    }

    #button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: 3vw;
        font-size: 2.5vw;
        text-align: center;
        border: none;
        border-radius: 2vw;
        padding: 1em;
        outline: .35vw solid $bright-beige;
        background-color: $dark-blue;
        color: $green;

        &:active {
            background-color: $green;
            background: $rainbow;
        }
    }

    @media screen and (max-width: 1200px) {
        #title-illustration {
            width: 70vw;
            height: 30vw;
            background-size: 35vw;
        }
        
        #title {
            @include font-size(6+1);
        }

        #slogan {
            @include font-size(2+1);
        }

        #city-name {
            height: 2.5+1vw;
            padding: 1.2em;
        }
    }

    @media screen and (max-width: 600px) {
        #title-illustration {
            width: 80vw;
            height: 35vw;
            background-size: 40vw;
        }
        
        #title {
            @include font-size(6+2);
        }

        #slogan {
            @include font-size(2+2);
        }

        #city-name {
            height: 2.5+2vw;
            padding: 1.4em;
        }
    }
}