@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Ubuntu:wght@300;400;500;700&display=swap");
html {
  font-size: 16px;
}

body {
  background-color: #5cdb95;
  font-family: "Ubuntu", sans-serif;
}

header {
  width: 90%;
  height: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #05386b;
}
header > * {
  margin: 2.5vw 0 2.5vw 0;
}
header #title-illustration {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 20vw;
  background: url("src/background-picture.png") no-repeat;
  background-size: 25vw;
  background-position: center;
}
header #title {
  font-family: "Fredoka One", cursive;
  font-size: 6vw;
  color: #edf5e1;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.35vw;
  margin: auto;
  text-align: center;
  white-space: nowrap;
}
header #title #o:hover, header #title #u:hover, header #title #a:hover, header #title #i:hover, header #title #z:hover, header #title #e:hover, header #title #u2:hover, header #title #r:hover {
  -webkit-text-fill-color: initial;
  -webkit-text-stroke: 0px;
}
header hr {
  border: 0.2vmax dashed #379683;
  width: 80%;
}
header #slogan {
  font-weight: 500;
  font-size: 2vw;
}
header #city-name {
  width: 60%;
  height: 3vw;
  font-size: 2.5vw;
  text-align: center;
  border: none;
  border-radius: 2vw 1vw;
  padding: 1em;
  outline: none;
  background-color: #8ee4af;
  color: #05386b;
}
header #city-name:focus {
  border: 0.3vmax dashed #05386b;
  outline: none;
}
header #button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 3vw;
  font-size: 2.5vw;
  text-align: center;
  border: none;
  border-radius: 2vw;
  padding: 1em;
  outline: 0.35vw solid #edf5e1;
  background-color: #05386b;
  color: #5cdb95;
}
header #button:active {
  background-color: #5cdb95;
  background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, darkViolet, magenta, red);
}
@media screen and (max-width: 1200px) {
  header #title-illustration {
    width: 70vw;
    height: 30vw;
    background-size: 35vw;
  }
  header #title {
    font-size: 9.3333333333vw;
  }
  header #slogan {
    font-size: 3vw;
  }
  header #city-name {
    height: 3.5vw;
    padding: 1.2em;
  }
}
@media screen and (max-width: 600px) {
  header #title-illustration {
    width: 80vw;
    height: 35vw;
    background-size: 40vw;
  }
  header #title {
    font-size: 10.6666666667vw;
  }
  header #slogan {
    font-size: 4vw;
  }
  header #city-name {
    height: 4.5vw;
    padding: 1.4em;
  }
}

section {
  display: none;
  padding-top: 3vw;
  color: #05386b;
  width: 90%;
  margin: auto;
}
section #header-infos {
  display: flex;
  justify-content: space-between;
}
section #buttons-scale-forecast {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
  font-weight: 500;
  width: 18vw;
}
section #buttons-scale-forecast > * {
  border-radius: 0.5vw;
  color: #edf5e1;
  width: 18vw;
  text-align: center;
}
section #buttons-scale-forecast .active-button-scale-forecast {
  background-color: #edf5e1;
  border: 0.2vw solid #379683;
  color: #379683;
}
section #general-infos {
  font-size: 1.8vw;
}
section img {
  width: 12vw;
  height: 12vw;
}
section #current-weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
}
section #current-weather #current-condition {
  font-weight: 500;
  font-size: 2.5vw;
}
section #current-weather #current-temp {
  margin-top: 2vw;
}
section #current-weather #current-temp #current-temp-c {
  margin-right: 1vw;
}
section #current-weather #current-temp #current-temp-feelslike-c {
  margin-left: 1vw;
}

aside #error {
  display: none;
}

/*# sourceMappingURL=style.css.map */
