@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Ubuntu:wght@300;400;500;700&display=swap");
html {
  font-size: 16px;
}

body {
  background-color: #379683;
  font-family: "Ubuntu", sans-serif;
}

#flags {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 5vw;
  position: fixed;
  top: 1vw;
  right: 5vw;
  z-index: 3;
}
#flags .flag {
  width: 90%;
  transition: 0.2s ease;
}
#flags .flag:hover {
  width: 100%;
  transition: 0.2s ease;
}
@media screen and (max-width: 1200px) {
  #flags {
    width: 15vw;
    height: 7.5vw;
  }
}
@media screen and (max-width: 600px) {
  #flags {
    width: 20vw;
    height: 10vw;
    top: 2vw;
  }
}

#loader {
  position: fixed;
  z-index: 97;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #379683;
  display: flex;
  justify-content: center;
  align-items: center;
}
#loader #loader-emojis {
  position: relative;
  left: 6vw;
  z-index: 99;
  width: 12vw;
  height: 12vw;
  border-radius: 25%;
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  filter: blur(0.05vw);
  animation: changeEmojis 10s infinite linear, fadeInOut 1s linear -1s infinite;
}
@keyframes changeEmojis {
  0% {
    background-image: url("../src/emojis/sun.png");
  }
  10% {
    background-image: url("../src/emojis/thermometer.png");
  }
  20% {
    background-image: url("../src/emojis/cloud.png");
  }
  30% {
    background-image: url("../src/emojis/cloud-with-rain.png");
  }
  40% {
    background-image: url("../src/emojis/thunder-cloud-and-rain.png");
  }
  50% {
    background-image: url("../src/emojis/wind.png");
  }
  60% {
    background-image: url("../src/emojis/cloud-with-snow.png");
  }
  70% {
    background-image: url("../src/emojis/rainbow.png");
  }
  80% {
    background-image: url("../src/emojis/cyclone.png");
  }
  90% {
    background-image: url("../src/emojis/full-moon.png");
  }
  100% {
    background-image: url("../src/emojis/sun.png");
  }
}
@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#loader #neumorphism-box {
  position: relative;
  right: 6vw;
  z-index: 98;
  width: 12vw;
  height: 12vw;
  border-radius: 25%;
  filter: blur(0.2vw);
  box-shadow: 0.4vw 0.4vw 0.8vw 0.1vw rgba(0, 0, 0, 0.3), -0.4vw -0.4vw 0.8vw 0.1vw rgba(255, 255, 255, 0.3);
}

header {
  width: 90%;
  height: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #05386b;
}
header > * {
  margin-top: 2.5vw;
  margin-bottom: 2.5vw;
}
header #title-illustration {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 20vw;
  margin-bottom: 0 !important;
  position: relative;
  z-index: 2;
}
header #title-illustration #title {
  font-family: "Fredoka One", cursive;
  color: #edf5e1;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.35vw;
  margin: auto;
  text-align: center;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
header #title-illustration #title > * {
  font-size: 6vw;
  margin: 0 0.8vw 0 0.8vw;
}
header #title-illustration #title > *:hover {
  -webkit-text-fill-color: initial;
  -webkit-text-stroke: 0px;
}
header #title-illustration #visual {
  position: absolute;
  z-index: -1;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
header #slogan {
  font-weight: 500;
  font-size: 2vw;
}
header #city-name {
  width: 60%;
  height: 3vw;
  font-size: 2.5vw;
  text-align: center;
  border: none;
  border-radius: 2vw 1vw;
  padding: 1em;
  outline: none;
  background-color: #8ee4af;
  color: #05386b;
}
header #city-name:focus {
  border: 0.3vmax dashed #05386b;
  outline: none;
}
header #button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 3vw;
  font-size: 2.5vw;
  text-align: center;
  border: none;
  border-radius: 2vw;
  padding: 1em;
  border: 0.35vw solid #edf5e1;
  background-color: #05386b;
  color: #8ee4af;
  overflow: hidden;
  white-space: nowrap;
}
header #button:active {
  color: #edf5e1;
  background-color: #05386b;
  background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, darkViolet, magenta, red);
}
@media screen and (max-width: 1200px) {
  header #title-illustration {
    width: 70vw;
    height: 30vw;
  }
  header #title > * {
    font-size: 8vw !important;
  }
  header #slogan {
    font-size: 3vw;
  }
  header #city-name {
    height: 5vw;
    padding: 1.2em;
  }
  header #button {
    height: 4vw;
    width: 45%;
    border: 0.4vw solid #edf5e1;
  }
}
@media screen and (max-width: 600px) {
  header #title-illustration {
    width: 80vw;
    height: 35vw;
  }
  header #title > * {
    font-size: 9vw !important;
  }
  header #slogan {
    font-size: 3.5vw;
  }
  header #city-name {
    height: 6vw;
    padding: 1.4em;
  }
  header #button {
    height: 5.5vw;
    width: 50%;
    border: 0.45vw solid #edf5e1;
  }
}

.layered-waves {
  aspect-ratio: 960/150;
  width: 100vw;
  background-image: url("../src/svg/layered-waves.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 0 0 0 !important;
}

.additional-background {
  width: 100vw;
  background-color: #5cdb95;
  position: absolute;
  top: 0;
  z-index: -1;
  margin: 0 0 0 0 !important;
}

section {
  display: none;
  position: relative;
  padding-top: 3vw;
  color: #05386b;
  width: 90%;
  height: 35vw;
  margin: auto;
  background-color: #379683;
  /* Firefox */
  /* IE10+ */
  /* IE6,7 */
  /* IE8 */
  /* IE9,10 */
}
section #header-infos {
  display: flex;
  justify-content: space-between;
}
section #buttons-scale-forecast {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
  font-weight: 500;
  width: 18vw;
}
section #buttons-scale-forecast > * {
  border-radius: 0.5vw;
  color: #edf5e1;
  width: 18vw;
  text-align: center;
  text-decoration: none;
}
section #buttons-scale-forecast .active-button-scale-forecast {
  background-color: rgba(5, 56, 107, 0.25);
  border: 0.2vw solid #05386b;
  color: #8ee4af;
}
section #general-infos {
  font-size: 1.8vw;
}
@-moz-document url-prefix() {
  section #loader-api {
    background-color: #379683;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  section #loader-api {
    background-color: #379683;
  }
}
@media screen\9  {
  section #loader-api {
    background-color: #379683;
  }
}
@media \0 screen {
  section #loader-api {
    background-color: #379683;
  }
}
@media screen and (min-width: 0\0 ) {
  section #loader-api {
    background-color: #379683;
  }
}
section #loader-api {
  z-index: 95;
  visibility: hidden;
  width: 100%;
  height: 22vw;
  margin: auto;
  position: absolute;
  top: 12vw;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(0.6vw);
  -webkit-backdrop-filter: blur(0.6vw);
}
section #loader-api #loader-api-emojis {
  z-index: 96;
  width: 12vw;
  height: 12vw;
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  filter: blur(0.05vw);
  animation: changeEmojis 10s infinite linear, fadeInOut 1s linear -1s infinite;
}
@keyframes changeEmojis {
  0% {
    background-image: url("../src/emojis/sun.png");
  }
  10% {
    background-image: url("../src/emojis/thermometer.png");
  }
  20% {
    background-image: url("../src/emojis/cloud.png");
  }
  30% {
    background-image: url("../src/emojis/cloud-with-rain.png");
  }
  40% {
    background-image: url("../src/emojis/thunder-cloud-and-rain.png");
  }
  50% {
    background-image: url("../src/emojis/wind.png");
  }
  60% {
    background-image: url("../src/emojis/cloud-with-snow.png");
  }
  70% {
    background-image: url("../src/emojis/rainbow.png");
  }
  80% {
    background-image: url("../src/emojis/cyclone.png");
  }
  90% {
    background-image: url("../src/emojis/full-moon.png");
  }
  100% {
    background-image: url("../src/emojis/sun.png");
  }
}
@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
section #current-weather {
  height: 20vw !important;
  display: flex;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  font-size: 2vw;
}
section #current-weather img {
  width: 12vw;
  height: 12vw;
}
section #current-weather #current-condition {
  font-weight: 500;
  font-size: 2.5vw;
}
section #current-weather #current-temp {
  margin-top: 2vw;
}
section #current-weather #current-temp #current-temp-c {
  margin-right: 1vw;
}
section #current-weather #current-temp #current-temp-feelslike-c {
  margin-left: 1vw;
}
section .forecast {
  display: none;
  width: 90%;
  height: 15vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 2vw;
}
section .condition {
  font-size: 2vw;
  font-weight: 500;
  border-bottom: 0.2vmax groove #05386b;
  display: block;
  width: 100%;
}
section .forecast-weather-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1.8vw 0 1.8vw;
}
section .forecast-weather-box .hour {
  font-size: 1.5vw;
}
section .forecast-weather-box .icon {
  width: 5vw;
  height: 5vw;
}
section .forecast-weather-box .temp-c {
  font-size: 1.8vw;
  font-weight: 400;
}
section .weather-boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2vw;
}
@media screen and (max-width: 1200px) {
  section {
    height: 40vw;
  }
  section #buttons-scale-forecast {
    font-size: 2vw;
    width: 20vw;
  }
  section #general-infos {
    font-size: 2.2vw;
  }
  section #loader-api {
    top: 15vw;
    height: 25vw;
  }
  section #current-weather {
    font-size: 2.5vw;
    height: 25vw !important;
  }
  section #current-weather img {
    width: 14vw;
    height: 14vw;
  }
  section #current-weather #current-condition {
    font-size: 3vw;
  }
  section .forecast {
    height: 20vw;
    bottom: 25vw;
  }
  section .condition {
    font-size: 3vw;
  }
  section .forecast-weather-box .hour {
    font-size: 2.2vw;
  }
  section .forecast-weather-box .icon {
    width: 6vw;
    height: 6vw;
  }
  section .forecast-weather-box .temp-c {
    font-size: 2vw;
  }
}
@media screen and (max-width: 600px) {
  section {
    height: 45vw;
  }
  section #buttons-scale-forecast {
    font-size: 2.5vw;
    width: 22vw;
  }
  section #general-infos {
    font-size: 2.8vw;
  }
  section #loader-api {
    top: 18vw;
    height: 28vw;
  }
  section #current-weather {
    font-size: 3vw;
    height: 28vw !important;
  }
  section #current-weather img {
    width: 16vw;
    height: 16vw;
  }
  section #current-weather #current-condition {
    font-size: 3.5vw;
  }
  section .condition {
    font-size: 3.5vw;
  }
  section .forecast-weather-box .hour {
    font-size: 2.5vw;
  }
  section .forecast-weather-box .icon {
    width: 7vw;
    height: 7vw;
  }
  section .forecast-weather-box .temp-c {
    font-size: 2.2vw;
  }
}

aside {
  margin-bottom: 15vh;
  margin-top: 5vw;
  width: 100%;
  height: 5vw;
}
aside #error {
  margin: auto;
  font-weight: 600;
  font-size: 1.5vw;
  color: #05386b;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  aside #error {
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 600px) {
  aside #error {
    font-size: 3vw;
  }
}

footer {
  width: 100%;
  height: 10vw;
  flex-shrink: 0;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 0;
}
footer a {
  width: 50px;
}
footer #github {
  width: 50px;
}

body > header, section, aside {
  flex-grow: 1;
  flex-shrink: 0;
}

/*# sourceMappingURL=style.css.map */
