@use "sass:math";
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Ubuntu:wght@300;400;500;700&display=swap');

$dark-blue: #05386b;
$dark-green: #379683;
$green: #5cdb95;
$bright-green: #8ee4af;
$bright-beige: #edf5e1;
$rainbow: linear-gradient(to right, red, orange, yellow, green, cyan, blue, darkViolet, magenta, red);

html {
    font-size: 16px;
}

body {
    background-color: $dark-green;
    font-family: 'Ubuntu', sans-serif;
}

@mixin font-size($size) {
    @if ($size > 6) {
        font-size: $size + math.div($size, 3) + vw;
    } @else {
        font-size: $size + vw;
    }
}

@mixin animationEmojis() {
    animation: changeEmojis 10s infinite linear, fadeInOut 1s linear -1s infinite;

    @keyframes changeEmojis {
        0% {
            background-image: url("../src/emojis/sun.png");
        } 10% {
            background-image: url("../src/emojis/thermometer.png");
        } 20% {
            background-image: url("../src/emojis/cloud.png");
        } 30% {
            background-image: url("../src/emojis/cloud-with-rain.png");
        } 40% {
            background-image: url("../src/emojis/thunder-cloud-and-rain.png");
        } 50% {
            background-image: url("../src/emojis/wind.png");
        } 60% {
            background-image: url("../src/emojis/cloud-with-snow.png");
        } 70% {
            background-image: url("../src/emojis/rainbow.png");
        } 80% {
            background-image: url("../src/emojis/cyclone.png");
        } 90% {
            background-image: url("../src/emojis/full-moon.png");
        } 100% {
            background-image: url("../src/emojis/sun.png");
        }
    }

    @keyframes fadeInOut {
        0% {
            opacity: 1;
        } 50% {
            opacity: 0;
        } 100% {
            opacity: 1;
        }
    }
}

#flags {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 5vw;
    position: fixed;
    top: 1vw;
    right: 5vw;
    z-index: 3;

    .flag {
        width: 90%;
        transition: .2s ease;

        &:hover {
            width: 100%;
            transition: .2s ease;
        }
    }

    @media screen and (max-width: 1200px) {
        width: 18vw;
        height: 9vw;
    }

    @media screen and (max-width: 600px) {
        width: 22vw;
        height: 11vw;
        top: 2vw;
    }
}

#loader {
    position: fixed;
    z-index: 97;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $dark-green;
    display: flex;
    justify-content: center;
    align-items: center;

    #loader-emojis {
        position: relative;
        left: 6vw;
        z-index: 99;
        width: 12vw;
        height: 12vw;
        border-radius: 25%;
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center;
        filter: blur(.05vw);
        @include animationEmojis();
    }

    #neumorphism-box {
        position: relative;
        right: 6vw;
        z-index: 98;
        width: 12vw;
        height: 12vw;
        border-radius: 25%;
        filter: blur(.2vw);
        box-shadow: .4vw .4vw .8vw .1vw rgba($color: #000000, $alpha: .3), -0.4vw -0.4vw .8vw .1vw rgba($color: #ffffff, $alpha: .3);
    }
}

header {
    width: 90%;
    height: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: $dark-blue;
    margin-top: 5vw;

    & > * {
        margin-top: 2.5vw;
        margin-bottom: 2.5vw;
    }

    #title-illustration {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60vw;
        height: 30vw;
        margin-bottom: 0 !important;
        position: relative;
        z-index: 2;
        overflow: hidden;

        #title {
            font-family: 'Fredoka One', cursive;
            color: $bright-beige;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: .35vw;
            margin: auto;
            text-align: center;
            white-space: nowrap;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
    
            & > * {
                font-size: 7vw;
                margin: 0 .8vw 0 .8vw;
                &:hover {
                    -webkit-text-fill-color: initial;
                    -webkit-text-stroke: 0px;
                }
            }
        }

        #visual {
            position: absolute;
            z-index: -1;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            text-align: center;
        }
    }

    #slogan {
        font-weight: 500;
        @include font-size(3);
    }

    #city-name {
        width: 60%;
        height: 3vw;
        font-size: 2.5vw;
        text-align: center;
        border: none;
        border-radius: 2vw 1vw;
        padding: 1em;
        outline: none;
        background-color: $bright-green;
        color: $dark-blue;

        &:focus {
            border: .3vmax solid rgba($color: $dark-blue, $alpha: .75);
            outline: none;
        }
    }

    #button {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: 3vw;
        font-size: 2.5vw;
        text-align: center;
        border-radius: 2vw;
        padding: 1em;
        border: .35vw solid $bright-beige;
        background-color: $dark-blue;
        color: $bright-green;
        overflow: hidden;
        white-space: nowrap;

        &:active {
            color: $bright-beige;
            background-color: $dark-blue;
            background: $rainbow;
        }
    }

    @media screen and (max-width: 1200px) {
        margin-top: 12vw;

        #title-illustration {
            width: 80vw;
            height: 38vw;
        }
        
        #title {
            & > * {
                font-size: 12vw !important;
                -webkit-text-stroke: .4vw;
            }
        }

        #slogan {
            @include font-size(2+2);
        }

        #city-name {
            height: 8vw;
            padding: 1.2em;
            width: 70%;
            font-size: 3vw;
        }

        #button {
            height: 5vw;
            width: 50%;
            font-size: 4vw;
            border: .4vw solid $bright-beige;
        }
    }

    @media screen and (max-width: 600px) {
        margin-top: 15vw;
        #title-illustration {
            width: 90vw;
            height: 45vw;
        }
        
        #title {
            & > * {
                -webkit-text-stroke: .45vw;
                font-size: 14vw !important;
            }
        }

        #slogan {
            @include font-size(2+2.5);
        }

        #city-name {
            height: 7vw;
            font-size: 4vw;
            padding: 1.4em;
            width: 75%;
        }

        #button {
            height: 6vw;
            width: 55%;
            font-size: 4.5vw;
            border: .45vw solid $bright-beige;
        }
    }
}

.layered-waves {
    aspect-ratio: 960/150;
    width: 100vw;
    background-image: url("../src/svg/layered-waves.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 0 0 0 !important;
}

.additional-background {
    width: 100vw;
    background-color: $green;
    position: absolute;
    top: 0;
    z-index: -1;
    margin: 0 0 0 0 !important;
}

section {
    display: none;
    position: relative;
    padding-top: 3vw;
    color: $dark-blue;
    width: 90%;
    height: 40vw;
    margin: auto;
    background-color: $dark-green;

    #header-infos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start
    }

    #buttons-scale-forecast {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        width: 100%;
        margin-top: 3vw;

        & > * {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 4vw;
            border-radius: .5vw;
            color: $bright-beige;
            width: 25%;
            font-size: 2vw;
            text-align: center;
            text-decoration: none;
            margin: 0 2vw 0 2vw;
        }

        #button-after-tomorrow {
            height: 5.2vw;
        }

        .active-button-scale-forecast {
            background-color: rgba($color: $dark-blue, $alpha: .25);
            border: .2vw solid $dark-blue;
            color: $bright-green;
        }
    }

    #general-infos {
        & > * {
            font-size: 2vw;
        }
    }

    /* Firefox */
    @-moz-document url-prefix() {
        #loader-api {
        background-color: $dark-green;
        }
    }

    /* IE10+ */
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        #loader-api {
            background-color: $dark-green;
        }
    }

    /* IE6,7 */
    @media screen\9 {
        #loader-api {
            background-color: $dark-green;
        }
    }
    
    /* IE8 */
    @media \0screen {
        #loader-api {
            background-color: $dark-green;
        }
    }
    
    /* IE9,10 */
    @media screen and (min-width:0\0){
        #loader-api {
            background-color: $dark-green;
        }
    }

    #loader-api {
        z-index: 95;
        visibility: hidden;
        width: 100%;
        height: 22vw;
        margin: auto;
        position: absolute;
        top: 20vw;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(.6vw);
        -webkit-backdrop-filter: blur(.6vw);

        #loader-api-emojis {
            z-index: 96;
            width: 12vw;
            height: 12vw;
            background-repeat: no-repeat;
            background-size: 60%;
            background-position: center;
            filter: blur(.05vw);
            @include animationEmojis();
        }
    }

    #current-weather {
        height: 20vw !important;
        display: flex;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        font-size: 2vw;

        img {
            width: 12vw;
            height: 12vw;
        }

        #current-condition {
            font-weight: 500;
            font-size: 2.5vw;
        }

        #current-temp {
            margin-top: 2vw;

            #current-temp-c {
                margin-right: 1vw;
            }

            #current-temp-feelslike-c {
                margin-left: 1vw;
            }
        }
    }

    .forecast {
        display: none;
        width: 90%;
        height: 15vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 4vw;
    }

    .condition {
        font-size: 2vw;
        font-weight: 500;
        border-bottom: .2vmax groove $dark-blue;
        display: block;
        width: 100%;
    }

    .forecast-weather-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 1.8vw 0 1.8vw;

        .hour {
            font-size: 1.5vw;
        }

        .icon {
            width: 5vw;
            height: 5vw;
        }

        .temp-c {
            font-size: 1.8vw;
            font-weight: 400;
        }
    }

    .weather-boxes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 2vw;
    }

    @media screen and (max-width: 1200px) {
        height: 50vw;
        
        #buttons-scale-forecast {
            margin-top: 3vw;

            & > * {
                font-size: 2.5vw;
                height: 5vw;
                width: 25%;
                margin: 0 2vw 0 2vw;
            }

            #button-after-tomorrow {
                height: 6vw;
            }
        }

        #general-infos {
            & > * {
                font-size: 2.5vw;
            }
        }
    

        #loader-api {
            top: 20vw;
            height: 32vw;
        }

        #current-weather {
            font-size: 3vw;
            height: 28vw !important;

            img {
                width: 18vw;
                height: 18vw;
            }

            #current-condition {
                font-size: 3.5vw;
            }
        }

        .forecast {
            height: 20vw;
            bottom: 25vw;
        }

        .condition {
            font-size: 3vw;
        }

        .forecast-weather-box {
            .hour {
                font-size: 2.4vw;
            }
    
            .icon {
                width: 7vw;
                height: 7vw;
            }
    
            .temp-c {
                font-size: 2.2vw;
            }
        }
    }

    @media screen and (max-width: 600px) {
        height: 60vw;
        
        #buttons-scale-forecast {
            width: 100%;

            & > * {
                font-size: 3.5vw;
                height: 5vw;
                padding: .5vw 1vw .5vw 1vw;
            }

            :not(#button-after-tomorrow) {
                padding: 0;
            }

            #button-after-tomorrow {
                height: 8.2vw;
                width: 35%;
            }
        }

        #general-infos {
            & > * {
                font-size: 3.5vw;
            }
        }
    

        #loader-api {
            top: 24vw;
            height: 35vw;
        }

        #current-weather {
            font-size: 4vw;
            height: 32vw !important;

            img {
                width: 20vw;
                height: 20vw;
            }

            #current-condition {
                font-size: 4.5vw;
            }
        }

        .condition {
            font-size: 4vw;
        }

        .forecast-weather-box {
            .hour {
                font-size: 2.8vw;
            }
    
            .icon {
                width: 8vw;
                height: 8vw;
            }
    
            .temp-c {
                font-size: 2.4vw;
            }
        }
    }
}

aside {
    margin-top: 3vw;
    width: 100%;
    height: 16vw;
    display: none;
    justify-content: center;
    align-items: center;

    #error {
        margin: auto;
        font-weight: 600;
        font-size: 2vw;
        color: $dark-blue;
        text-align: center;
    }

    @media screen and (max-width: 1200px) {
        height: 18vw;
        
        #error {
            font-size: 2.5vw;
        }
    }

    @media screen and (max-width: 600px) {
        height: 20vw;
        
        #error {
            font-size: 3vw;
        }
    }
}

footer {
    width: 100%;
    height: 12vw;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vw;
    position: relative;

    a {
        width: 3vw;
        height: 3vw;
        display: flex;
        justify-content: center;
        align-items: center;

        #github {
            width: 3vw;
            height: 3vw;
        }
    }

    @media screen and (max-width: 1200px) {
        a {
            width: 4vw;
            height: 4vw;

            #github {
                width: 4vw;
                height: 4vw;
            }
        }
    }

    @media screen and (max-width: 600px) {
        a {
            width: 5vw;
            height: 5vw;

            #github {
                width: 5vw;
                height: 5vw;
            }
        }
    }

    .button-install-box {
        display: none;
        position: absolute;
        left: 5vw;
        background-color: $dark-blue;
        border-radius: 2vw;
        width: 22vw;
        height: 8vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: .25vw solid $bright-beige;
        animation: breath 2s linear infinite;

        #description-install {
            font-size: 2vw;
            color: $green;
            white-space: nowrap;
            margin: 0 0 .5vw 0;
        }

        #button-install {
            cursor: pointer;
            color: $dark-blue;
            background-color: $bright-beige;
            font-weight: 600;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 2vw;
            width: 70%;
            height: 38%;
            white-space: nowrap;
            font-size: 1.5vw;
            margin: .5vw 0 0 0;
            text-align: center;
            border: .3vw solid $bright-beige;
            overflow: hidden;

            &:active {
                background: $dark-blue;
                color: $bright-beige;
            }
        }

        @keyframes breath {
            from {
                opacity: 1;
            } 50% {
                opacity: .5;
            } to {
                opacity: 1;
            }
        }

        @media screen and (max-width: 1200px) {
            width: 25vw;
            height: 10vw;
            border: .3vw solid $bright-beige;

            #description-install {
                font-size: 2.2vw;
            }
            
            #button-install {
                font-size: 2vw;
                height: 40%;
            }

        }

        @media screen and (max-width: 600px) {
            width: 28vw;
            height: 12vw;
            border: .35vw solid $bright-beige;

            #description-install {
                font-size: 2.5vw;
            }
            
            #button-install {
                font-size: 2.5vw;
                height: 45%;
            }

        }
    }

    
}

body > header, section, aside {
    flex: 1 0 auto;
}